body {
	margin: 0;
	background-color: #ffeead;
}

.divNav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #96ceb4;
	height: 3em;
	gap: 1em;
}

.divNav button {
	background-color: #78aca3;
	border: 0;
	border-radius: 4px;
	padding: 4px 12px 4px 12px;
	font-weight: bold;
}

.container {
	padding: 30px;
	height: 100vh;
}
